<h1>질문 리스트</h1>

[[${questionList}]]

<h2>[[${age}]]</h2>

<table border="1">
  <colgroup>
    <col width="60px">
    <col width="250px">
    <col width="250px">
  </colgroup>
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성날짜</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>2</td>
      <td>스프링부트 모델 질문입니다.</td>
      <td>2024-12-21 10:08:58.783770</td>
    </tr>
    <tr>
      <td>1</td>
      <td>sbb가 무엇인가요?</td>
      <td>2024-12-21 10:08:58.767813</td>
    </tr>
  </tbody>
</table>